@import 'colors.css';

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 15px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  margin: 5px 10px;
}

#workspaces button {
  background-color: @surface0;
  border-radius: 0px;
  margin-left: 5px;
  border-bottom: 1px solid @surface0;

  color: @lavender;
}

#workspaces button.active {
  background: @surface1;
  border-bottom: 1px solid @lavender;
  margin-bottom: 0px;
}

#clock,
#tray,
#custom-updates,
#custom-clipboard,
#pulseaudio,
#pulseaudio-slider,
#custom-headset,
#custom-cava {
  margin: 5px;
  background-color: @surface0;
  padding: 0px 5px;
  border-bottom: 1px solid @lavender;
}

#cpu,
#memory,
#temperature,
#custom-network {
  padding: 5px 5px;
}

#custom-separator {
  padding: 0 5px;
  color: @lavender;
}

#custom-updates {
  padding-left: 10px;
}

#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  opacity: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}
#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 80px;
  border-radius: 5px;
  background-color: black;
}
#pulseaudio-slider highlight {
  min-width: 10px;
  border-radius: 5px;
  background-color: green;
}
